private
.idea
triplestore/*.jar
triplestore/*.jnl
triplestore/rules.log
*.pyc
website/opencitations_log.txt
website/src/*.pyc
website/*.pyc
*~
.DS_Store
triplestore/log.txt
triplestore/nohup.out
website/log.txt
website/nohup.out
test
script/*.pyc
script/spacin/*.pyc
script/bee/*.pyc
script/conf.json