private
.idea
triplestore/*.jar
triplestore/*.jnl
triplestore/rules.log
*.pyc
website/opencitations_log.txt
website/src/*.pyc
website/*.pyc
*~
.DS_Store
triplestore/log.txt
triplestore/nohup.out
website/log.txt
website/nohup.out
test
script/*.pyc
script/conf.json
script/spacin_log.txt
script/bee_log.txt
triplestore/run-local.sh
website/run-local.sh