
/* Links */
a, a:focus {
    color: #9931FC;
}
a:hover {
  color: #2D22DE;
}

.oc-basic {
    color: #191919;
}

.oc-blue {
    color: #2D22DE;
}

.oc-purple {
    color: #9931FC;
}

.social {
    color: #9931FC;
}

.social:hover {
    color: #2D22DE;
}

.navbar-toggle .icon-bar {
    background-color: black;
}

.left {
    text-align: left;
}

#logo {
    max-width: 200px;
}

footer img {
    max-height: 70px;
}

footer #ox img {
    max-height: 60px;
}

footer #is4oa img {
    max-height: 60px;
}

#yasqe, #yasr, .CodeMirror-hints {
    text-align: left !important;
}

blockquote {
  font-size: 100%;
}

figure img {
  max-weight: 90% !important;
}

.center {
    text-align: center;
}

.mt-more {
    margin-top: 3%;
}

.search-entry .form-control{
  font-size:20px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #191919;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

footer .row div {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.mastfoot {
  color: darkgrey; /* IE8 proofing */
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
  float:left;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: darkgrey; /* IE8 proofing */
  border-bottom: 2px solid transparent;

}
.masthead-nav > li > a:hover {
  background-color: transparent;
  border-bottom-color: darkgrey;
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #9931FC;
  border-bottom-color: #2D22DE ;
}


/*when the resolution is bigger than min-width*/
@media (min-width: 1251px) {

      .cover {
        padding-top:12%;
        padding-bottom:50px;
      }

      /* Handle the widths */
      .masthead,
      .mastfoot,
      .cover-container {
        width: 70%; /* Must be percentage or pixels for horizontal alignment */
      }

      /* Start the vertical centering */
      .site-wrapper-inner {
        vertical-align: middle;
      }

      /* Pull out the header and footer */
      .masthead {
        height: 100px;
        background-color: white !important;
        z-index: 10 !important;
        position: fixed;
        top: 0;
      }
      .mastfoot {
        position: fixed;
        bottom: 0;
      }

      /*the header inside elements*/
      .masthead-search {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 30%;
        width: 80%;
        float: right;
      }
      .masthead-pages {
        display: block;
        float:right;
      }
}


/*when the resolution is less than max-width*/
@media (max-width: 1250px) {

      /*make the website page larger*/
      .cover-container {
        width: 97%;
      }

      /*the navbar*/
      .navbar-nav {
        margin: 7.5px -15px;
      }
      .navbar-header {
          float: none;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          z-index:20;
          background-color: white;
          border-bottom: 1px solid;
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      }
      .navbar-collapse.collapse {
           display: none !important;
      }
      .collapse.in{
           display: block !important;
      }

      /*elements of the new header*/
      .masthead-pages{
        padding-top: 10px;
        float:left;
        display: block;
      }
      .masthead-brand{
        padding-left:20px;
      }

      /*elements to display once the dropdown button is clicked*/
      .masthead-search {
        display: block;
        padding-left: 0%;
        width: 100%;
        float:none;
      }
      .form-control{
        width:100%;
        font-size:18px;
      }

      /*the nav pages must be displayed in blocks*/
      .masthead-nav > li {
        margin-left: 20px;
        display: block;
      }
      .masthead-nav > li + li {
          display: block;
          float: none;
       }
       .masthead-nav > li > a {
          padding: 8px 15px 10px 0px;
          float: left;
       }
      .masthead-nav > .active > a,
      .masthead-nav > .active > a:hover,
      .masthead-nav > .active > a:focus {
        color: #9931FC;
        border-bottom-color: transparent ;
      }
}
