/*
 * Globals
 */

/* Links */
a, a:focus {
    color: #9931FC;
}

a:hover {
  color: #2D22DE;
}

#logo {
    max-width: 200px;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #191919;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.oc-basic {
    color: #191919;
}

.oc-blue {
    color: #2D22DE;
}

.oc-purple {
    color: #9931FC;
}

footer img {
    max-height: 70px;
}

footer #ox img {
    max-height: 60px;
}

footer #is4oa img {
    max-height: 60px;
}

footer .row div {
    float:none;
    display:inline-block;
    vertical-align:middle;
    margin-right:-4px;
}

.masthead {
    height: 50px;
    background-color: white;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: darkgrey; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover {
  background-color: transparent;
  border-bottom-color: darkgrey;

}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #9931FC;
  border-bottom-color: #2D22DE ;
}

.left {
    text-align: left;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.social {
    color: #9931FC;
}

.social:hover {
    color: #2D22DE;
}

/*
 * Cover
 */

.cover {
    padding-top:50px;
    padding-bottom:50px;
}


/*
 * Footer
 */

.mastfoot {
  color: darkgrey; /* IE8 proofing */
}

.masthead {
    background-color: white !important;
    z-index: 10 !important;
}

#yasqe, #yasr, .CodeMirror-hints {
    text-align: left !important;
}

blockquote {
    font-size: 100%;
}

figure img {
    max-weight: 90% !important;
}

.center {
    text-align: center;
}

.mt-more {
    margin-top: 3%;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 70%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 70%;
  }
}
